%h1 Listing snippets

%table{:id=>"snippets"}
  %tr
    %th Code
  - @snippets.each_with_index do |snippet,i|
    %tr{:class=>"snippet", :id=>"snippet_#{i}"}
      %td
        %pre~h snippet.code.to_a.first(3).to_s
      %td= link_to 'Show', snippet
      %td= link_to 'Edit', edit_snippet_path(snippet)
      %td= link_to 'Destroy', snippet, :confirm => 'Are you sure?', :method => :delete

%br

= will_paginate @snippets

= link_to 'New snippet', new_snippet_path