!!!
%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", "lang"=>"en"}
%head
  %meta{"http-equiv"=>"content-type", "content"=>"text/html;charset=UTF-8"}
  %title #{controller.controller_name}: #{controller.action_name}
  = stylesheet_link_tag 'scaffold'
%body
  %p{:style=>"color: green"}= flash[:notice]
  %ul{:id=>'navigation'}
    %li= link_to "Browse", snippets_path
    %li= link_to "New", new_snippet_path

  = yield